.shiny-image {
  position: relative;

  @media (min-width: 768px) {
    background-color: rgb(255, 255, 255, 0.6);
    --transition-duration: 1s;
    --gradient-color1: #000;
    --gradient-color2: rgba(0, 0, 0, 0.9);
    --gradient-color3: rgba(0, 0, 0, 0.5);
    --mask-size: 900%;
  }
}

.shiny-image img {
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
      opacity var(--transition-duration) ease,
      mask-position var(--transition-duration) ease,
      -webkit-mask-position var(--transition-duration) ease;
    -webkit-mask-image: linear-gradient(
      60deg,
      #000 45.5%,
      rgba(0, 0, 0, 0.8) 46.5%,
      #000 47.5%,
      #000 48%,
      rgba(0, 0, 0, 0.6) 49%,
      rgba(0, 0, 0, 0.5) 49.5%,
      rgba(0, 0, 0, 0.5) 50.5%,
      rgba(0, 0, 0, 0.6) 51%,
      #000 52%
    );
    mask-image: linear-gradient(
      60deg,
      #000 45.5%,
      rgba(0, 0, 0, 0.8) 46.5%,
      #000 47.5%,
      #000 48%,
      rgba(0, 0, 0, 0.6) 49%,
      rgba(0, 0, 0, 0.5) 49.5%,
      rgba(0, 0, 0, 0.5) 50.5%,
      rgba(0, 0, 0, 0.6) 51%,
      #000 52%
    );
    -webkit-mask-size: var(--mask-size);
    mask-size: var(--mask-size);
    -webkit-mask-position: 0;
    mask-position: 0;
    opacity: 0;
  }
}

.shiny-image .primary-image {
  opacity: 1;
  object-fit: cover;
}

.shiny-image .secondary-image {
  opacity: 0;
}

.shiny-image:hover .primary-image {
  
  @media (min-width: 768px) {
    opacity: 0;
    -webkit-mask-position: 0;
    mask-position: 0;
  }
}

.shiny-image:hover .secondary-image {
  opacity: 0.8;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.shiny-image:not(:hover) .primary-image {
  -webkit-mask-position: 120%;
  mask-position: 120%;
}

.shiny-image:not(:hover) .secondary-image {
  opacity: 0;
  -webkit-mask-position: 120%;
  mask-position: 120%;
}

/* Overlay styles */
.shiny-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  background-color: #000;
  transition: opacity var(--transition-duration) ease;
    pointer-events: none; /* Prevent text from interfering with hover events */

  @media (min-width: 768px) {
    opacity: 0;
  }
}

.shiny-image:hover .overlay {
  opacity: 0.4;
}

/* Text overlay styles */
.shiny-image .text-overlay {
  position: absolute;
  left: 12px;
  top: 12px;

  @media (min-width: 768px) {
    height: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    bottom: unset;
    transform: translate(-50%, 0);
    font-size: 16px;
    color: white;
    text-align: center;
    transition:
      transform var(--transition-duration) ease,
      opacity var(--transition-duration) ease;
    pointer-events: none; /* Prevent text from interfering with hover events */
  }
}

.shiny-image:hover .text-overlay {
  @media (min-width: 768px) {
    transform: translate(-50%, -7%); /* Moves the text up on hover */
  }
}

.shiny-image:not(:hover) .text-overlay {
  @media (min-width: 768px) {
    transform: translate(-50%, 0); /* Resets the text to the center */
  }
}

.home-card-title {
  color: #1B0D00;
  text-shadow: 0px 0px 20px #FFA800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #EEC47C;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 48px;
  }

  @media (max-width: 480px) {
    font-size: 32px;
  }
}

.home-card-subtitle {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 1px 0px #562F03;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}
